<template>
  <span>
    <v-navigation-drawer
      app
      v-model="drawer"
      class="brown lighten-2"
      dark
      disable-resize-watcher
    >
      <v-list>
        <v-list-item-group color="primary">
          <v-list-item
            v-for="(item, index) in items"
            :key="index"
            :to="item.url"
          >
            <v-list-item-content>
              {{ item.title }}
            </v-list-item-content>
            <v-divider :key="`divider-${index}`"></v-divider>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar color="brown darken-4" dark>
      <v-app-bar-nav-icon
        class="hidden-md-and-up"
        @click="navigationDrawer()"
      ></v-app-bar-nav-icon>
      <v-spacer class="hidden-md-and-up"></v-spacer>
      <router-link to="/">
        <v-toolbar-title to="/">{{ appTitle }}</v-toolbar-title>
      </router-link>
      <v-btn text class="hidden-sm-and-down" to="/menu">Menu</v-btn>
      <v-spacer class="hidden-sm-and-down"></v-spacer>
      <div v-if="!isAuthenticated" class="hidden-sm-and-down">
        <v-btn text to="/sign-in">SIGN IN</v-btn>
        <v-btn color="brown lighten-3" to="/join">JOIN</v-btn>
      </div>
      <div v-else>
        <v-btn text to="/about">PROFILE</v-btn>
        <v-btn outlined color="white" @click="logout">Logout</v-btn>
      </div>
    </v-app-bar>
  </span>
</template>

<script>
export default {
  name: 'AppNavigation',
  data() {
    return {
      appTitle: 'Meal Prep',
      drawer: false,
      items: [
        { title: 'Menu', url: '/menu' },
        { title: 'Profile', url: '/about' },
        { title: 'Sign In', url: '/sign-in' },
        { title: 'Join', url: '/join' }
      ]
    };
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('userSignOut');
    },
    navigationDrawer() {
      this.drawer = !this.drawer;

      if (this.isAuthenticated) {
        this.items = this.items.filter(item => {
          return item.title != 'Sign In' && item.title != 'Join';
        });
      }
    }
  }
};
</script>

<style scoped></style>
